<?xml version="1.0" ?>
<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
  <link rel="stylesheet" href="assets/vue-ui.css" />
  <style>
.code {
  background-color: #ffeedd;
}
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="assets/vue-ui.js"></script>
</head>
<body>
<div id="app" >
  Hello Vue,
  <mycomp></mycomp>
  <number-input v-model="data.val1" x="re" ></number-input>
  +
  <number-input v-model="data.val2"></number-input>
  =
  <number-input v-model="val3"></number-input>
  <pre class="code">data: {{JSON.stringify(data,null,2)}}</pre>
</div>
<script>

new Vue({
  el: '#app',
  data: {
    data: {
      "val1": 1234,
      "val2": null
    }
  },
  computed: {
    val3: function() {
      return this.data.val1 + this.data.val2;
    }
  }
});

</script>
</body>
</html>
