<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
<!-- 
  <script src="assets/vue.js"></script>
 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="index.js"></script>
</head>
<body>
  <div id="app" @mousedown.prevent>

    <metronome ref="metronome" @step="metronome_stepHandler"
      :tempo="+tempo" :beat="beat"></metronome>
 
    <div>Tempo</div>
    <template v-for="t in [40, 60, 80, 100, 120, 140, 160, 180, 200]">
      <label>
        <input type="radio" name="tempo" v-model="tempo" :value="t"
          @click="$refs.metronome.reset()" />{{t}}</label>
    </template>

    <div>Beat</div>
    <template v-for="b in [0, 1, 2, 3, 4, 5, 6, 7]">
      <label>
        <input type="radio" name="beat" v-model="beat" :value="b" 
          @click="$refs.metronome.reset()" />{{b}}</label>
    </template>

    <div>
      <button @click="start_clickHandler"> start </button>
    </div>

  </div>
</body>
</html>
