<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" >

  <servlet>
    <servlet-name>admin-servlet</servlet-name>
    <servlet-class>ws.app.admin.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin-servlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>clb-servlet</servlet-name>
    <servlet-class>ws.app.CLBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clb-servlet</servlet-name>
    <url-pattern>/clb</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>standard-filter</filter-name>
    <filter-class>ws.StandardFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>standard-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>ws.WSServletContextListener</listener-class>
  </listener>

</web-app>
